<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Page</title>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
	<h3 style="color:blue">HOLA, YA PUEDES LOGUEARTE CON TU USUARIO Y CONTRASEÑA CREADOS !!!</h3>

	{% if form.errors %}
		<h6 style="color:red">Error!</h6>
	{% endif %}

	{% if next %}
	<p>No puedes accesar esta página!!!</p>
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}

		<p> <strong>Username: {{form.username}} </strong></p>
		<p> <strong>Password: {{form.password}} </strong></p>

		<div>
			<input type="submit" value="Login"  class="btn btn-success">
			<input type="hidden" name="next" value="{{next}}">
			<input type="reset" class="btn btn-danger" value="Clean">
		</div>

	</form>

	<div>
		<a href= "{% url 'register' %}">
			<label>Regístrate</label>
		</a>
	<div>	

</body>
</html>