{% extends 'adminlte/base.html' %}
{% load static %}

{% block section %}
    


{% endblock section %}

{% block content %}
	<div>
	    <font color="blue" size="100">AUTORES RECONOCIDOS!</font>
	</div>

    {% for o in object_list%}
	    <font color="red" size="6">Nombre del autor:</font><font size="6"> {{o.nomautor}} </font>
	    <font color="red" size="6">Nombre del país:</font><font size="6"> {{o.paises_codpais}} </font>
	    <br>
    {% endfor %}

    <div>
    	<img src="{% static 'autor.png' %}">
	<div>


{% endblock section %}

{% block content %}
	<div>
	    <font color="blue" size="100">AUTORES RECONOCIDOS!</font>
      {% for o in object_list %}
        <font color="red" size="6">Nombre del autor:</font><font size="6"> {{o.nomautor}} </font>
  	    <font color="red" size="6">Nombre del país:</font><font size="6"> {{o.paises_codpais}} </font>
  	    <br>
      {% endfor %}
  </div>

  <div>
  	<img src="{% static 'autor.png' %}">
  </div>

{% endblock content %}
