{% extends 'adminlte/base.html' %}

{% block content %}

<!--<form method="POST">
	<div class="form-group label-floating">
		<label class="control-label">Nombre de la Editorial:</label>
		{% csrf_token %}
		{{form.nomeditorial}}
	</div>

	<div class="form-group label-floating">
		<label class="control-label">Ciudad de la Editorial:</label>
		{% csrf_token %}
		{{form.ciueditorial}}
	</div>
	<button type="submit">Enviar datos</button>
</form>-->
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Enviar datos</button>
</form>
{% endblock content %}
