{% extends 'adminlte/base.html' %}
{% load static %}

{% block section %}
    

{% endblock section %}

{% block content %}
	<div>
	    <font color="blue" size="100">MULTAS FACTURADAS</font>
	</div>

    {% for o in object_list%}
	    <font color="red" size="6">Fecha del préstamo:</font><font size="6"> {{o.fecha}} </font>
	    <font color="red" size="6">Usuario:</font><font size="6"> {{o.valor}} </font>
	    <font color="red" size="6">Ejemplar:</font><font size="6"> {{o.estado}} </font>
	    <font color="red" size="6">Fecha de devolución:</font><font size="6"> {{o.detalle}} </font>	
	    <br>
    {% endfor %}
    <div>
    	<img src="{% static 'multa.jpeg' %}">
	<div> 


{% endblock content %}
