{% extends 'adminlte/base.html' %}

{% block content %}
<!--
<form method="POST">
	<div class="form-group label-floating">
		<label class="form-control-static">Fecha de la Multa</label>
		{% csrf_token %}
		{{form.fecha}}
	</div>

	<div class="form-group label-floating">
		<label class="control-label">Valor de la Multa</label>
		{% csrf_token %}
		{{form.valor}}
	</div>

	<div class="form-group label-floating">
		<label class="control-label">Estado de la Multa(0 No pagada- 1 Pagada)</label>
		{% csrf_token %}
		{{form.estado}}
	</div>

	<div class="form-group label-floating">
		<label class="control-label">Detalle de la Multa</label>
		{% csrf_token %}
		{{form.detalle}}
	</div>
	<button type="submit">Enviar datos</button>
</form>
-->
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Enviar datos</button>
</form>
{% endblock content %}
