{% extends 'adminlte/base.html' %}

{% block content %}

<!--<form method="POST">
	<div class="form-group label-floating">
		<label class="control-label">Nombre del Usuario de la biblioteca</label>
		{% csrf_token %}
		{{form.nomusuario}}
	</div>

	<div class="form-group label-floating">
		<label class="control-label">Tipo de Usuario(0 Docente- 1 Estudiante - 2 Otro)</label>
		{% csrf_token %}
		{{form.tipousuario}}
	</div>
	<button type="submit">Enviar datos</button>
</form>
-->
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Enviar datos</button>
</form>
{% endblock content %}
